a {
	color:  black;
	font-weight:  normal;
}
a:link, a:visited, a:active {
	color:  black;
	text-decoration:  none;
}
a:hover {
	color:  blue;
	text-decoration:  none;
}
a.header, a.symbol {
	font-family:  "Lucida Console";
}
a.topic, a.datatype {
	font-style:  italic;
}
address {
	font-size:  8pt;
	margin: 12px 0px;
}
body {
	background-image:  url(background.gif);
	font:  10pt Verdana;
}
code {
	font-family:  "Lucida Console";
}
.code {
	background-color:  #eeeeee;
	border:  1px solid black;
	display:  block;
	font:  10pt "Lucida Console";
	padding:  7px 12px 5px 12px;
	margin-left:  20px;
}
dd {
	padding:  0px 0px 0px 40px;
	margin:  0px 0px 10px 0px;
}
div {
	margin:  10px 0px 10px 20px;
}
div.synopsis {
	margin-left:  0px;
}
dl {
	margin:  0px;
}
dt {
	font:  10pt "Lucida Console";
	padding:  0px 0px 0px 20px;
}
h3 {
    font:  bold italic 14pt;
    margin:  5px 0px 10px 0px;
}
h4 {
	font:  bold 10pt;
	margin:  10px 0px;
}
hr {
	color:  #aaaaaa;
	height:  1px;
}
li a:link, li a:visited, li a:active {
	color:  gray;
}
li a:hover {
	color:  blue;
}
pre {
	font-family:  "Lucida Console";
	letter-spacing:  1px;
	padding:  0px;
	margin:  0px;
}
s.lang {
	font-size:  8pt;
	font-weight:  normal;
	text-decoration:  none;
}
s.unknown {
	color:  red;
	text-decoration:  none;
}
ul {
	margin:  10px 0px 10px 20px;
	padding:  0px 0px 0px 17px;
}
var {
	font:  10pt "Lucida Console";
}
