A {
	color: black;
	font-style: italic;
	text-decoration: none;
}

CODE A, PRE A, SAMP A, VAR A {
	font-style: normal;
}

A:HOVER {
	color: blue;
}

ADDRESS {
	font-size: 8pt;
	font-style: normal;
	margin: 10px 0px;
	padding: 0px;
}

BODY {
	background-image: url(background.gif);
	font: 10pt Verdana;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	margin: 0px;
	padding: 10px;
}

CODE {
	font-family: "Lucida Console";
	letter-spacing: 1px;
}

DD {
	margin: 0px 0px 10px 40px;
	padding: 0px;
}

DIV {
	margin: 10px 0px 10px 20px;
	padding: 0px;
}

DL {
	margin: 0px;
	padding: 0px;
}

DT {
	margin: 0px 0px 0px 20px;
	padding: 0px;
}

EM {
	font-style: italic;
	font-weight: normal;
}

H3 {
	font-size: 14pt;
	font-style: italic;
	font-weight: bold;
	margin: 5px 0px 10px 0px;
	padding: 0px;
}

H4 {
	font-size: 10pt;
	font-weight: bold;
	margin: 10px 0px;
}

H4 SMALL {
	font-size: 8pt;
	font-style: italic;
	font-weight: normal;
}

HR {
	color: gray;
	height: 1px;
	margin: 0px;
	padding: 0px;
}

LI {
	margin: 0px;
	padding: 0px;
}

PRE {
	font-family: "Lucida Console";
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
}

SAMP {
	background-color: #eeeeee;
	border: 1px solid black;
	display: block;
	font-family: "Lucida Console";
	letter-spacing: 1px;
	margin: 10px 0px 10px 20px;
	padding: 7px 12px 5px 12px;
	white-space: pre;
}

SPAN {
	display: block;
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

UL {
	margin: 10px 0px 10px 20px;
	padding: 0px 0px 0px 17px;
}

VAR {
	font-family: "Lucida Console";
	font-style: normal;
	letter-spacing: 1px;
}
