/* ********************************************************************
 *                                                                    *
 *    (C) Copyright Paul Mensonides 2003-2005.                        *
 *                                                                    *
 *    Distributed under the Boost Software License, Version 1.0.      *
 *    (See accompanying file LICENSE).                                *
 *                                                                    *
 *    See http://chaos-pp.sourceforge.net for most recent version.    *
 *                                                                    *
 ******************************************************************** */

/* ***********************
 *                       *
 *    Inline Elements    *
 *                       *
 *********************** */

a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	color: blue;
}
address a {
	font-weight: normal;
	font-style: normal;
}
code {
	font-family: "Courier New", monospace;
	letter-spacing: 1px;
	white-space: pre;
}
code a, pre a, var a {
	font-family: "Courier New", monospace;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 1px;
}
em {
	font-style: italic;
	font-weight: normal;
}
h4 small, h4 small a {
	font-size: 8pt;
	font-style: italic;
	font-weight: normal;
}
li a {
	font-weight: normal;
}
sub, sup {
	font-family: Verdana, sans-serif;
}
var {
	font-family: "Courier New", monospace;
	font-style: normal;
	letter-spacing: 1px;
}
var.external {
	font-family: Verdana, sans-serif;
	font-style: italic;
	letter-spacing: 0px;
}

/* **********************
 *                      *
 *    Block Elements    *
 *                      *
 ********************** */

address {
	font-size: 8pt;
	font-style: normal;
	margin: 10px 0px;
	padding: 0px;
}
body {
	background: white;
	background-image: url(background.gif);
	color: black;
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	margin: 0px;
	padding: 0px 10px;
}
dd {
	margin: 0px 0px 10px 60px;
	padding: 0px;
}
div {
	margin: 0px 0px 0px 30px;
	padding: 0px;
}
dl {
	margin: 0px;
	padding: 0px;
}
dt {
	margin: 10px 0px -10px 30px;
	padding: 0px;
}
h3 {
	font-family: "Courier New", monospace;
	font-size: 24pt;
	font-weight: bold;
	letter-spacing: 2px;
	margin: 10px 0px;
	padding: 0px;
}
h3.alternate {
	color: #444444;
}
h3.secondary {
	color: #888888;
}
h4 {
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	margin: 10px 0px;
	padding: 0px;
}
li {
	margin: 0px;
	padding: 0px;
}
p {
	margin: 10px 0px;
	padding: 0px;
}
pre {
	font-family: "Courier New", monospace;
	letter-spacing: 1px;
	margin: 10px 0px;
	padding: 0px;
	white-space: pre;
}
pre.box {
	background-color: #eeeeee;
	border: 1px solid black;
	margin: 10px 0px 10px 14px;
	padding: 5px 15px;
}
table {
	background-color: #eeeeee;
	border-collapse: collapse;
	margin: 10px 0px;
	padding: 0px;
}
td {
	border: 1px solid black;
	margin: 0px;
	padding: 2px 10px;
}
td.expression {
	text-align: center;
}
tr {
	margin: 0px;
	padding: 0px;
}
ul {
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 44px;
}
