A {
	color: black;
	font-weight: bold;
	text-decoration: none;
}
A:HOVER {
	color: blue;
}
ADDRESS {
	font-size: 8pt;
	font-style: normal;
	margin: 10px 0px;
	padding: 0px;
}
ADDRESS A {
	font-weight: normal;
	font-style: normal;
}
BODY {
	background: white;
	background-image: url(background.gif);
	color: black;
	font-family: Georgia, Garamond, serif;
	font-size: 12pt;
	margin: 0px;
	padding: 10px;
}
CODE {
	font-family: "Courier New", monospace;
	letter-spacing: 1px;
}
CODE A, PRE A, SAMP A, VAR A {
	font-family: "Courier New", monospace;
	letter-spacing: 1px;
	font-style: normal;
	font-weight: normal;
}
DD {
	margin: 0px 0px 10px 60px;
}
DIV {
	margin: 0px 0px 10px 30px;
}
DIV.TOP {
	margin: 0px 0px 10px 0px;
}
DL {
	margin: 0px;
	padding: 0px;
}
DT {
	margin: 0px 0px 0px 30px;
	padding: 0px;
}
EM {
	font-style: italic;
	font-weight: normal;
}
H3 {
	font-family: "Courier New", monospace;
	font-size: 24pt;
	letter-spacing: 2px;
	font-weight: bold;
	margin: 0px 0px 10px;
}
H3.ALTERNATE {
	color: #444444;
}
H3.SECONDARY {
	color: #888888;
}
H4 {
	font-family: Georgia, Garamond, serif;
	font-size: 12pt;
	font-weight: bold;
	margin: 0px 0px 10px;
}
H4 SMALL, H4 SMALL A {
	font-size: 8pt;
	font-style: italic;
	font-weight: normal;
}
HR {
	color: gray;
	height: 1px;
	margin: 0px 0px 10px;
	padding: 0px;
}
LI {
	margin: 0px;
	padding: 0px;
}
LI A {
	font-weight: normal;
}
PRE {
	font-family: "Courier New", monospace;
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
}
SAMP {
	background-color: #eeeeee;
	border: 1px solid black;
	display: block;
	font-family: "Courier New", monospace;
	letter-spacing: 1px;
	margin: 0px 0px 10px 15px;
	padding: 5px 14px 5px 14px;
	white-space: pre;
}
SPAN {
	display: block;
	margin: 0px 0px 10px;
	padding: 0px;
}
SUB, SUP {
	font-family: Georgia, Garamond, serif;
}
TABLE {
	background-color: #eeeeee;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
}
TD {
	border: 1px solid black;
	margin: 0px;
	padding: 2px 10px;
}
TR {
	margin: 0px;
	padding: 0px;
}
UL, OL {
	margin: 0px 0px 10px 30px;
	padding: 0px 0px 0px 17px;
}
VAR {
	font-family: "Courier New", monospace;
	font-style: normal;
	letter-spacing: 1px;
}
VAR.EXTERNAL {
	font-family: Georgia, Garamond, serif;
	font-style: italic;
	letter-spacing: 0px;
}
.PUSH {
	margin-top: 10px;
}
.PUSHPULL {
	margin-bottom: 0px;
	margin-top: 10px;
}
.PULL {
	margin-bottom: 0px;
}
