A {
	color: black;
	font-family: Georgia;
	font-style: italic;
	text-decoration: none;
}
A:HOVER {
	color: blue;
}
ADDRESS {
	font-size: 8pt;
	font-style: normal;
	margin: 10px 0px;
	padding: 0px;
}
BODY {
	background: white;
	background-image: url(background.gif);
	color: black;
	font: 10pt Verdana;
	margin: 0px;
	padding: 10px;
}
CODE {
	font: 10pt "Lucida Console";
	letter-spacing: 1px;
}
CODE A, PRE A, SAMP A, VAR A {
	font-family: "Lucida Console";
	font-style: normal;
}
DD {
	margin: 0px 0px 10px 40px;
}
DIV {
	margin: 0px 0px 10px 20px;
}
DL {
	margin: 0px;
	padding: 0px;
}
DT {
	margin: 0px 0px 0px 20px;
	padding: 0px;
}
EM {
	font-style: italic;
	font-weight: normal;
}
H3 {
	font-size: 14pt;
	font-style: italic;
	font-weight: bold;
	margin: 0px 0px 10px;
}
H4 {
	font-size: 10pt;
	font-weight: bold;
	margin: 0px 0px 10px;
}
H4 SMALL {
	font-size: 8pt;
	font-style: italic;
	font-weight: normal;
}
HR {
	color: gray;
	height: 1px;
	margin: 0px 0px 10px;
	padding: 0px;
}
LI {
	margin: 0px;
	padding: 0px;
}
PRE {
	font-family: "Lucida Console";
	letter-spacing: 1px;
	margin: 0px;
	padding: 0px;
}
SAMP {
	background-color: #eeeeee;
	border: 1px solid black;
	display: block;
	font-family: "Lucida Console";
	letter-spacing: 1px;
	margin: 0px 0px 10px 20px;
	padding: 7px 12px 5px 12px;
	white-space: pre;
}
SPAN {
	display: block;
	margin: 0px 0px 10px;
	padding: 0px;
}
SUB, SUP {
	font-family: Verdana;
}
UL, OL {
	margin: 0px 0px 10px 20px;
	padding: 0px 0px 0px 17px;
}
VAR {
	font-family: "Lucida Console";
	font-style: normal;
	letter-spacing: 1px;
}
VAR.EXTERNAL {
	font-family: Georgia;
	font-style: italic;
}
.PUSH {
	margin-top: 10px;
}
.PUSHPULL {
	margin-bottom: 0px;
	margin-top: 10px;
}
.PULL {
	margin-bottom: 0px;
}
